@import './base.css';
@import "tailwindcss";
@import "tailwindcss-primeui";
@import 'primeicons/primeicons.css';
@custom-variant dark (&:where(.dark, .dark *));

/* base.css */
:root {
  /* light theme */
  --bg-color: white;
}

.dark {
  /* dark theme */
  --bg-color: #181818;
}

body {
  background-color: var(--bg-color);
}
